@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.header {
  padding: 0 150px;
  background-color: #1f2937;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  font-size: 24px;
  font-weight: bold;
  color: #f9faf8;
}

ul {
  display: flex;
  gap: 16px;
  list-style: none;
}
a {
  font-size: 18px;
  text-decoration: none;
  color: #e5e7eb;
}

.container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.awesome {
  padding: 100px 150px;
  background-color: #1f2937;
  display: flex;
  gap: 50px;
}

.awesome h1 {
  margin: 0;
}
.awesome p {
  margin-top: 0;
}

.awesome img {
  width: 750px;
  height: 200px;
}

.main-title {
  font-size: 48px;
  font-weight: 900;
  color: #fefaf8;
}

.sub-text {
  font-size: 18px;
  color: #e5e7eb;
}

button {
  background-color: #3882f6;
  padding: 5px 25px;
  border: none;
  border-radius: 7px;
  color: #e5e7eb;
  font-weight: 600;
}

img {
  background-color: grey;
}

.random {
  padding: 25px 150px 50px 150px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.random-infos {
  margin: 0;
}
.all-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}

.card {
  width: 150px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.card img {
  border: 5px solid #3882f6;
  border-radius: 10%;
}

.quote {
  padding: 50px 250px;
  background-color: #e5e7eb;
  text-align: left;
  font-size: 36px;
  font-weight: 100;
  font-style: italic;
  color: #1f2937;
}

.sig {
  text-align: right;
  color: black;
  font-size: 24px;
  font-weight: 800;
}

.caller {
  margin: 75px 150px;
  padding: 25px 100px;
  background-color: #3882f6;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  color: #e5e7eb;
}
.content h2 {
  margin-bottom: 0;
}

.content p {
  margin-top: 0;
}

.caller button {
  border: 2px solid white;
}
.footer {
  height: 75px;
  background-color: #1f2937;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 19px;
  color: #e5e7eb;
}
